<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .container table {
        border: 2px solid black;
        margin: 10px;
        border-collapse: collapse;
    }
    .container table th,
    .container table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>
<body>
<div class="container">
    <table>
        <tr>
            <th>Email</th>
            <th>Ticket Id</th>
            <th>Tickets</th>
            <th>Status</th>
        </tr>
        {{#each tickets}}
            <tr>
                <td>{{email}}</td>
                <td><label for="_id">Ticket Id</label><input type="text" name="id" value="{{_id}}" readonly id="_id"></td>
               <td>{{ticket}}</td>
                <td><form method="post" action="/update_status" >
                    <label for="status">Change Status</label>
                    <input type="hidden" name="id" value="{{_id}}" readonly>
                    <input type="text" name="status" value="{{status}}" id="status">
                    <input type="submit" value="Update" >
                </form> </td>
                <td>
                    <input type="button" value="View" class="view_btn" data-id="{{_id}}">
                </td>
                <td>
                    <input type="button" value="Delete" class="delete_btn" data-id="{{id}}">
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<script>
    document.querySelectorAll(".view_btn").forEach(button =>{
        button.addEventListener("click",() =>{
            const id = button.getAttribute("data-id")
            window.location.href = `/ticket-view-page-${id}`
        })
    })

    document.querySelectorAll(".delete_btn").forEach(button =>{
        button.addEventListener("click",() =>{
            const id = button.getAttribute("data-id")
            window.location.href = `/delete-${id}`
        })
    })
</script>
</body>